//- .footer
//- 		.container
//- 			.row
//- 				.col-md-12(style='margin-top: 25px;')
//- 					p CÔNG TY TNHH VĨNH PHÁT
//- 					p Đà Nẵng: 169 đường Hải Phòng - Q. Hải Châu - TP. Đà Nẵng.
//- 					p Tel: 0511.2248910 - 0914.049.499
//- 					p Email: vinhphatit@yahoo.com
//- 				.col-md-12
//- 					hr(class='hr-small')
//- 				.col-md-12
//- 					p Copyright © 2015 Vinh Phat Electronics & Computer Co., Ltd. All Rights Reserved.
footer#footer
	.container
		.row
			.col-sm-6
				| Copyright © 2015 Vinh Phat Electronics & Computer Co., Ltd. All Rights Reserved.
			.col-sm-6
				ul.social-icons
					li
						a(href='#')
							i.fa.fa-facebook
					|                         
					li
						a(href='#')
							i.fa.fa-twitter
					|                         
					li
						a(href='#')
							i.fa.fa-google-plus
					|                         
					li
						a(href='#')
							i.fa.fa-pinterest
					|                         
					li
						a(href='#')
							i.fa.fa-dribbble
					|                         
					li
						a(href='#')
							i.fa.fa-behance
					|                         
					li
						a(href='#')
							i.fa.fa-flickr
					|                         
					li
						a(href='#')
							i.fa.fa-youtube
					|                         
					li
						a(href='#')
							i.fa.fa-linkedin
					|                         
					li
						a(href='#')
							i.fa.fa-github