.footer
		.container
			.row
				.col-md-12(style='margin-top: 25px;')
					p CÔNG TY TNHH VĨNH PHÁT
					p Đà Nẵng: 169 đường Hải Phòng - Q. Hải Châu - TP. Đà Nẵng.
					p Tel: 0511.2248910 - 0914.049.499
					p Email: vinhphatit@yahoo.com
				.col-md-12
					hr(class='hr-small')
				.col-md-12
					p Copyright © 2015 Vinh Phat Electronics & Computer Co., Ltd. All Rights Reserved.