footer#footer
	.container
		.row
			.col-sm-6
				| Copyright © 2015 Vinh Phat Electronics & Computer Co., Ltd. All Rights Reserved.
			.col-sm-6
				ul.social-icons
					li
						a(href='https://www.facebook.com/vinhphatit', target='_blank')
							i.fa.fa-facebook
					|                         
					li
						a(href='#')
							i.fa.fa-twitter
					|                         
					li
						a(href='#')
							i.fa.fa-google-plus
					|                         
					li
						a(href='#')
							i.fa.fa-pinterest
					|                         
					li
						a(href='#')
							i.fa.fa-dribbble
					|                         
					li
						a(href='#')
							i.fa.fa-behance
					|                         
					li
						a(href='#')
							i.fa.fa-flickr
					|                         
					li
						a(href='#')
							i.fa.fa-youtube
					|                         
					li
						a(href='#')
							i.fa.fa-linkedin
					|                         
					li
						a(href='#')
							i.fa.fa-github