extends components/layout

block content
	.container.middle-section
		.row
			.col-md-1
			.col-md-10
				ul.nav.nav-tabs(role='tablist')
					li.active(role='presentation')
						a(href='#home', aria-controls='home', role='tab', data-toggle='tab')
							b Liên Hệ
				.col-md-12(style='margin-top: 25px;')
					p CÔNG TY TNHH VĨNH PHÁT
						p Đà Nẵng: 169 đường Hải Phòng - Q. Hải Châu - TP. Đà Nẵng.
						p Tel: 0511.2248910 - 0914.049.499
						p Email: vinhphatit@yahoo.com
