extends components/layout

block content
	section#features
		.container
			.section-header
				h2.section-title.text-center.wow.fadeInDown ĐỊA CHỈ LIÊN HỆ
				p.text-center.wow.fadeInDown
					| CÔNG TY TNHH VĨNH PHÁT
					br
					| Đà Nẵng: 169 đường Hải Phòng - Q. Hải Châu - TP. Đà Nẵng.
					br
					| Tel: 0511.2248910 - 0914.049.499
					br
					| Email: vinhphatit@yahoo.com

