extends components/layout

block content

	.container
		.row
			.col-md-1
			.col-md-10.index-slider
				div(id='carousel-example-generic' class='carousel slide text-center' data-ride='carousel')
					ol(class='carousel-indicators')
						li(data-target='#carousel-example-generic' data-slide-to='0' class='active')
						li(data-target='#carousel-example-generic' data-slide-to='1')
						li(data-target='#carousel-example-generic' data-slide-to='2')
					.carousel-inner(role='listbox')
						.item.active
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 1
						.item
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 2
						.item
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 3

			//- a(class='left carousel-control' href='#carousel-example-generic' data-slide='prev' role='button')
			//- 	span(class='glyphicon glyphicon-chevron-left' aria-hidden='true')
			//- 	span(class='sr-only') Previous
			//- a(class='right carousel-control' href='#carousel-example-generic' role='button' data-slide='next')
			//- 	span(class='glyphicon glyphicon-chevron-right' aria-hidden='true')
			//- 	span(class='sr-only') Next

	.container
		.row
			.col-md-9
				h3 SHOP
			.col-md-3
				a(href='javascript:void(0)')
					p More
			.col-md-12.text-center
				p outline here
			.col-md-12
				- for (var i = 0; i < 10; i++)
					.col-md-3
						a(class='product-item' href='/products/1')
							img(class='img-responsive' src='/images/default-store-350x350.jpg')
						p(class='product-item-name') Sample
						p(class='product-item-price') 9.99$