extends components/layout

block content
	.container.middle-section
		.row
			.col-md-12
				ul.nav.nav-tabs(role='tablist')
					li.active(role='presentation')
						a(href='#home', aria-controls='home', role='tab', data-toggle='tab')
							b Chi tiết
				.tab-content
					#home.tab-pane.active(role='tabpanel')
						