body {
  background: #fff;
  font-size: 15px;
	line-height: 1.6;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #585858;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

.site-header h2 a {
	color: #fff;
	font-size: 30px;
}

.site-header h2 a:hover {
	text-decoration: none;
}

a {
  color: #00B7FF;
}

.no-border {
	border: none;
}

.product-header {
	background-color: #4ab367 !important;
	border: none;
}

.home-nav-top {
	background-color: #4ab367 !important;
}

/* index header */
.site-header {
	padding: 0;
	background-color: #b84d45;
	color: #fff;
	background-image: url('../images/bg.png');
}

.site-header h2 {
	padding: 0;
	margin: 10px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Top Navbar */
.navbar-default {
	background-color: #2c3e50;
  border-color: transparent;
  font-size: 15px;
  font-weight: 600;
}

header .phone-number {
	color: #fff;
	line-height: 38px;
	font-size: 16px;
}

h4.phone-number:hover {
	cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #18bc9c;
}

.navbar-default .navbar-nav>.active>a {
	color: #18bc9c;
}

.homepage-search {
	margin-top: 20px;
}

.footer {
	color: #636363;
	background-color: #f2f2f2;
}

hr {
	clear: both;
	border-top: solid #ececec;
	border-width: 1px 0 0;
	border-top-color: #e5e5e5;
}

.index-slider li {
	margin-left: 5px !important;
	background-color: rgb(88, 88, 88);
}

.middle-section {
	min-height: 300px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.aTagCursor {
	cursor: pointer;
}

.item-block {
	min-height: 300px;
}

.magin-bottom-100 {
	margin-bottom: 100px;
}

/**
 * Product
 */
.product-item-img {
	display: block;
}

.product-item-name {
	color: #204a80;
	margin-top: 10px;
	font-size: 13pt;
}

.product-item-price {
	font-size: 15pt;
}

.item-block a:hover {
	text-decoration: none;
}

.product-detail-name {
	color: #B61014;
}

.brief-info-section {
	margin-bottom: 50px;
}

#logo-img {
	width: 36px;
	height: 36px;
}

@media screen and (min-width : 992px){
	.product-item-img {
		height: 160px;
	}
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
	.site-header h2 a {
		/*font-size: 45px;*/
	}
}

/* IPHONE 6 */
@media only screen and (min-width : 375px) and (max-width : 667px) {
	.site-header h2 a {
		/*font-size: 30px;*/
		/*display: block;*/
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1557px;
	}
}