body {
  background: #fff;
  font-size: 15px;
	line-height: 1.6;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #585858;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.site-header h2 a {
	color: #fff;
}

.site-header h2 a:hover {
	text-decoration: none;
}

a {
  color: #00B7FF;
}

.no-border {
	border: none;
}

.product-header {
	background-color: #4ab367 !important;
	border: none;
}

.home-nav-top {
	background-color: #4ab367 !important;
}

.site-header {
	padding: 30px;
	background-color: #204a80;
	color: #fff;
}

.homepage-search {
	margin-top: 20px;
}

.footer {
	color: #636363;
	background-color: #f2f2f2;
}

hr {
	clear: both;
	border-top: solid #ececec;
	border-width: 1px 0 0;
	border-top-color: #e5e5e5;
}

.index-slider li {
	margin-left: 5px !important;
	background-color: rgb(88, 88, 88);
}

.middle-section {
	min-height: 300px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.aTagCursor {
	cursor: pointer;
}

.item-block {
	min-height: 300px;
}

.magin-bottom-100 {
	margin-bottom: 100px;
}

/**
 * Product
 */
.product-item-img {
	display: block;
}

.product-item-name {
	color: #204a80;
	margin-top: 10px;
	font-size: 13pt;
}

.product-item-price {
	font-size: 15pt;
}

.item-block a:hover {
	text-decoration: none;
}

.product-detail-name {
	color: #B61014;
}

.brief-info-section {
	margin-bottom: 50px;
}

@media screen and (min-width : 992px){
	.product-item-img {
		height: 160px;
	}
}