body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ecf0f0;
}

a {
  color: #00B7FF;
}

.no-border {
	border: none;
}

.product-header {
	background-color: #4ab367 !important;
	border: none;
}

.home-nav-top {
	background-color: #4ab367 !important;
}