extends ../components/layout

block content
	.container.middle-section
		.row
			.col-md-6.img-section
				img(class='img-responsive' src='/images/default-store-350x350.jpg')
			.col-md-6.brief-info-section
				h2 9.99$
				a Buy now
				h2 Status: Available
			.col-md-12.full-info-section
				h3 info a
				h3 info b
				h3 ...
